@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Just+Another+Hand&display=swap');

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

* {
	font-family: 'Just Another Hand', monospace;
}

body {
	/*background: #F4E7DF;*/
	background: #C6B0A3;
	position: relative;
	overflow: hidden;
}

button {
	background: #F4E7DF;
	color: #49273A;
	border: none;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: block;
	outline: none;
	font-size: 50px;
}

button:hover {
	background-color: #F1603F;
}

#canvas {
	position: absolute;
	top: 0;
	left: 0;
}

#canvas > canvas {
	position: absolute;
	top: 0;
	left: 0;
}

#domOverlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

.hide {
	display: none;
}

/*
	Loading progress bar
*/
#loading_progressBar {
	background: #F4E7DF;
	height: 40px;
	width: 70%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	margin: auto;
}

#loading_progressBar > div {
	background: #F1603F;
	height: 100%;
	width: 0;
}

/*
	Main menu
*/
#mainMenu {
	width: 400px;
	height: 300px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	margin: auto;
}

#mainMenu > button {
	width: 400px;
	height: 60px;
	margin: 20px 0;
	border-radius: 10px;
}

/*
	In gameControl
*/
#inGame {
	width: 100%;
	height: 100%;
}

#inGame_retryBtn, #inGame_nextLevelBtn {
	background: #F4E7DF;
	width: 90px;
	height: 90px;
	border-radius: 50%;
	position: absolute;
}

#inGame_retryBtn {
	right: 0;
	left: 0;
	bottom: 40px;
	margin: auto;
}

#inGame_nextLevelBtn {
	right: 40px;
	bottom: 40px;
}

#inGame_retryBtn:hover, #inGame_nextLevelBtn:hover {
	background-color: #F1603F;
}