html, body {
	width: 100%;
	height: 100%;
	margin: 0;
}

* {
	font-family: 'Just Another Hand', monospace;
}

#canvas {
	position: absolute;
	top: 0;
	left: 0;
}

#canvas > canvas {
	position: absolute;
	top: 0;
	left: 0;
}

#domOverlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

#domOverlay > div {
	width: 100%;
	height: 100%;
	position: absolute;
	overflow: hidden;
}

.hide {
	display: none;
}

.center {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

.noSelect {
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-user-select: none;
}

/*
	Game
*/
:root {
	--background-color: #C6B0A3;
	--stroke-color: #732819;
	--button-color: #F4E7DF;
	--button-hover-color: #F1603F;
}

body {
	/*background: #F4E7DF;*/
	background: var(--background-color);
	position: relative;
	overflow: hidden;
}

#domOverlay button {
	background: var(--button-color);
	color: var(--stroke-color);
	border: none;
	padding: 5px 10px;
	text-align: center;
	text-decoration: none;
	display: block;
	outline: none;
	font-size: 50px;
}

#domOverlay button:hover {
	background: var(--button-hover-color);
}

/*
	Loading progress bar
*/
#loading_progressBar {
	background: var(--button-color);
	height: 40px;
	width: 70%;
}

#loading_progressBar > div {
	background: var(--button-hover-color);
	height: 100%;
	width: 0;
	transition: width 0.1s;
	-webkit-transition: width 0.1s;
	-moz-transition: width 0.1s;
	-ms-transition: width 0.1s;
	-o-transition: width 0.1s;
}

/*
	Transition
*/
#transition > video {
	height: 100%;
	position: absolute;
	pointer-events: none;
}

/*
	Main menu
*/
#mainMenu > .center {
	width: 400px;
	height: 300px;
}

#mainMenu button {
	width: 400px;
	height: 60px;
	margin: 20px 0;
	border-radius: 10px;
}

/*
	Levels
*/
#levels > table {
	border-spacing: 10px;
}

#levels > table td {
	color: var(--stroke-color);
	background: var(--button-color);
	border-radius: 10px;
	width: 60px;
	height: 60px;
	font-size: 50px;
	text-align: center;
}

#levels > table td:hover {
	background-color: var(--button-hover-color);
}

/*
	In gameControl
*/
#inGame {
	width: 100%;
	height: 100%;
}

#inGame > #inGame_levelName {
	color: var(--stroke-color);
	font-size: 70px;
	text-align: center;
	margin: 80px;
	pointer-events: none;
}

#inGame > #inGame_backBtn,
#inGame > #inGame_retryBtn,
#inGame > #inGame_nextLevelBtn {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	position: absolute;
}

#inGame > #inGame_backBtn {
	left: 10%;
	bottom: 50px;
}

#inGame > #inGame_retryBtn {
	right: 0;
	left: 0;
	bottom: 50px;
	margin: auto;
}

#inGame > #inGame_nextLevelBtn {
	right: 10%;
	bottom: 50px;
}